gaofen/sites/xuexiao/public/wsdl/TeacherApi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://teacher.gaofen.com/namespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherApi" targetNamespace="http://teacher.gaofen.com/namespace">
  <wsdl:types>
    <xsd:schema targetNamespace="http://teacher.gaofen.com/namespace">
      <xsd:element name="syncBTLPayStatus">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="trade_no" type="xsd:string" />
          	<xsd:element name="action" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="syncBTLPayStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element name="trade_no" type="xsd:string"/>
						<xsd:element name="result" type="xsd:boolean"/>
 
         </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="syncBTLPayStatusWithAuth">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="trade_no" type="xsd:string"></xsd:element>
      			<xsd:element name="action" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="syncBTLPayStatusWithAuthResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="trade_no" type="xsd:string"></xsd:element>
      			<xsd:element name="result" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="syncBTLPayStatusRequest">
    <wsdl:part element="tns:syncBTLPayStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="syncBTLPayStatusResponse">
    <wsdl:part element="tns:syncBTLPayStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="syncBTLPayStatusWithAuthRequest">
  	<wsdl:part name="parameters" element="tns:syncBTLPayStatusWithAuth"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncBTLPayStatusWithAuthResponse">
  	<wsdl:part name="parameters" element="tns:syncBTLPayStatusWithAuthResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TeacherApi">
    <wsdl:operation name="syncBTLPayStatus">
      <wsdl:input message="tns:syncBTLPayStatusRequest"/>
      <wsdl:output message="tns:syncBTLPayStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="syncBTLPayStatusWithAuth">
    	<wsdl:input message="tns:syncBTLPayStatusWithAuthRequest"></wsdl:input>
    	<wsdl:output message="tns:syncBTLPayStatusWithAuthResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeacherApiSOAP" type="tns:TeacherApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="syncBTLPayStatus">
      <soap:operation soapAction="http://teacher.gaofen.com/namespace/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherApi">
    <wsdl:port binding="tns:TeacherApiSOAP" name="TeacherApiSOAP">
      <soap:address location="{{soapLocation}}"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
